# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
venv/

# due to using nox and pytest
.nox
.cache

# --- IntelliJ IDEA (JetBrains) ---
.idea/
*.iml
*.iws
*.ipr
out/

# --- Python ---
*$py.class

# --- Virtual Environments (非常重要，不要上传你的venv) ---
env/
.env

# --- Streamlit ---
.streamlit/secrets.toml

# --- Mac OS ---
.DS_Store
